tbody {
  display:block;
  height:400px;
  overflow:auto;
  background-color: rgba(255, 255, 255, 0.6);
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

thead {
  width: calc( 100% - 1em )
}

th {
  color: #773FFF;
}

table {
  width:100%;
}

/* Table row hover color */
.highlight tbody tr:hover td, .highlight tbody tr:hover th {
  background-color: rgba(159, 158, 233, 0.2);
}

.id-column {
  width: 60px;
}

.col-sm {
  width: 120px;
}