html {
	background: url('../img/bkgd_sz1.jpeg') no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
	font-family: 'Dosis', sans-serif;
}



/* font-family: 'Dosis', sans-serif; */

/* font-family: 'Barlow Semi Condensed', sans-serif; */